#mapSVG {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #d3d3d3;
    /*width: 99%;*/
    /*height: 99%;*/
    /*on bottom*/
    z-index: 0;
}
#mapoverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    /*width: 99%;*/
    /*height: 99%;*/
    /*on top of map*/
    z-index: 1;
}
#mapcontrols {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 100px;
}
#coorddisplay {
    position: absolute;
    left: 10px;
    bottom: 10px;
    max-width: 200px;
}
#upperrightcontrols {
    position: absolute;
    top: 10px;
    right: 10px;
}
#layerbox,
#editbox{
    float: right;
    clear: right;
}
#layerheader,
#editheader,
#editlist {
    text-align: right;
}
/*#updatedata {
    position: absolute;
    top: 10px;
    left: 810px;
}*/
#boundFeatureInfo {
    position: absolute;
    max-width: 600px;
    top: 30px;
    left: 810px;
    z-index: 2;
}
#mouseoverbox {
    position: absolute;
    /*off screen initially*/
    top: -1000px;
    left: -1000px;
/*    width: 200px;
    height: 20px;*/
    /*on top of everything else*/
    z-index: 3;
}
.links {
    cursor: pointer;
    text-decoration: underline;
}
.overlayitem {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
}
