#maparea {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 800px;
    height: 600px;
}
#mapCanvas {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #d3d3d3;
    z-index: 0;
}
#mapcontrols {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 100px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    z-index: 1;
}
#categories {
    position: absolute;
    max-width: 300px;
    top: 5px;
    left: 810px;
}
#coorddisplay {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    z-index: 1;
}
