body {
    overflow: hidden;
}
#mapSVG {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #d3d3d3;
    /*width: 99%;*/
    /*height: 99%;*/
    /*on bottom*/
    z-index: 0;
}
.hiddenFeatureGroup {
    display: none;
}
#mapControls {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 100px;
}
#coordDisplay {
    position: absolute;
    left: 10px;
    bottom: 10px;
    max-width: 200px;
}
#upperRightControls {
    position: absolute;
    top: 10px;
    right: 10px;
}
#layerBox,
#editBox{
    float: right;
    clear: right;
}
#layerHeader,
#editHeader,
#editList {
    text-align: right;
}
/*#updateData {
    position: absolute;
    top: 10px;
    left: 810px;
}*/
#boundFeatureInfo {
    position: absolute;
    max-width: 300px;
    max-height: 400px;
    /*off screen initially*/
    top: -1000px;
    left: -1000px;
    z-index: 2;
}
.featureInfoTitle {
    padding-right: 10px;
    font-weight: bold;
}
.featureInfoClose {
    position: relative;
    right: 2px;
}
.featureInfoBody {
    max-height: 400px;
    overflow: auto;
}
#mouseoverBox {
    position: absolute;
    /*off screen initially*/
    top: -1000px;
    left: -1000px;
/*    width: 200px;
    height: 20px;*/
    /*on top of everything else*/
    z-index: 3;
}
.links {
    cursor: pointer;
    text-decoration: underline;
}
.overlayItem {
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
}
